<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script src="https://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
<script src="/assets/js/cal-heatmap.min.js"></script>
<script src="/assets/js/Tooltip.min.js"></script>
<script src="/assets/js/Legend.min.js"></script>
<script src="/assets/js/Timezone.min.js"></script>
<link rel="stylesheet" href="/assets/css/cal-heatmap.css"></script>