.ch {
  &-container {
    display: block;
    overflow: visible;
  }

  &-domain {
    overflow: visible;

    &-container {
      overflow: visible;

      &-animation-wrapper {
        overflow: visible;
      }

      &.in-transition &-animation-wrapper  {
        overflow: hidden;
      }
    }

    &-bg {
      fill: transparent;
    }

    &-text {
      fill: currentColor;
      font-size: 10px;
    }
  }

  &-subdomain {
    overflow: visible;

    &-bg {
      fill: #ededed;

      &.highlight {
        stroke: #444;
        stroke-width: 1px;
      }

      &:hover {
        stroke: #000;
        stroke-width: 1px;
      }
    }

    &-text {
      font-size: 8px;
      pointer-events: none;
    }

    [data-theme='dark'] & {
      &-bg {
        fill: #2d333b;

        &.highlight {
          stroke: #768390;
        }

        &:hover {
          stroke: #636e7b;
        }
      }
    }
  }
}

#ch-plugin-legend {
  > svg {
    background: transparent;
    color: currentColor;
  }
}

#ch-tooltip {
  $arrow-size: 8px;

  padding: 5px 10px;
  background: #222;
  color: #bbb;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: none;
  box-sizing: border-box;

  &[data-show] {
    display: block;
  }

  &-arrow,
  &-arrow::before {
    background: inherit;
    width: $arrow-size;
    height: $arrow-size;
    position: absolute;
  }

  &-arrow {
    visibility: hidden;
  }

  &-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }

  &[data-popper-placement^='top'] > &-arrow {
    bottom: calc($arrow-size / -2);
    margin-left: calc($arrow-size / -2);
  }

  &[data-popper-placement^='bottom'] > &-arrow {
    top: calc($arrow-size / -2);
    margin-left: calc($arrow-size / -2);
  }

  &[data-popper-placement^='left'] > &-arrow {
    right: calc($arrow-size / -2);
  }

  &[data-popper-placement^='right'] > &-arrow {
    left: calc($arrow-size / -2);
  }

  &[data-theme='dark'] {
    background: #636e7b;
    color: #cdd9e5;
  }
}
